.big-btn{
	width:640upx;
	height:80upx;
	line-height: 80upx;
	text-align: center;
	margin: 0 auto;
	background:rgba(254,59,11,1);
	border-radius:40upx;
	color: #fff;
	font-size: 32upx;
}
.big-btn-active{
	width:640upx;
	height:80upx;
	line-height: 80upx;
	text-align: center;
	margin: 0 auto;
	background:#FE3B0B;
	border-radius:40upx;
	color: #fff;
	font-size: 32upx;
}
.small-btn{
	
}
