.big-btn{
	width:640upx;
	height:80upx;
	line-height: 80upx;
	text-align: center;
	margin: 0 auto;
	background:rgba(254,59,11,1);
	border-radius:40upx;
	color: #fff;
	font-size: 32upx;
}
.big-btn-active{
	width:640upx;
	height:80upx;
	line-height: 80upx;
	text-align: center;
	margin: 0 auto;
	background:#FE3B0B;
	border-radius:40upx;
	color: #fff;
	font-size: 32upx;
}
.small-btn{
	
}
ul{
  margin: 0;
  padding: 0;
}
.gray-line{
  background-color: #f0f0f0;
  height: 20upx;
  width: 100%;
}

image{
  vertical-align: top;
}
.vertical-middle{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.good-title{
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  font-size: 28upx;
  color: #333;
}
.good-attr{
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  font-size: 24upx;
  color: #999;
}

uni-cover-image{
  background: rgba(0,0,0,0.7);
}
uni-cover-image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}